ssh:
  # The hostname (or IP) and SSH port of the router.
  hostname: 'router:22'

  # The username to use to ssh to the router.
  #
  # Note that you need to ssh as `root` if you want to have the program to show `smartctl` output
  # (because `smartctl` requires `root`) or the firewall logs (since the firewall log file is only readable by `root`).
  # If you don't need either of those, remove those part of the program, and change this to any limited user with shell access instead.
  username: 'root'


# Services to monitor.
services:
  # Built-in services to monitor.
  builtin:
  - 'configd'
  - 'dhcpd'
  - 'dhcpd6'
  - 'ntpd'
  - 'openssh'
  - 'radvd'
  - 'syslog-ng'
  - 'syslogd'
  - 'unbound'

  # Custom services to monitor. Each entry must either have a `cmdline` or a `pidfile`.
  custom:
  - name: 'tayga'
    cmdline: '/usr/local/bin/tayga '
  - name: 'haproxy'
    pidfile: '/var/run/haproxy.pid'
